.bag-page{
    width: 85%;
    margin: 80px auto;
}

h4{
    font-weight: bold;
    font-size: 20px;
    color:#8255b6;
    margin-bottom: 50px;
}

.bag-items{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px 35px;
    margin-bottom: 50px;
}

.bag-items-headline{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid #b497f3;
    border-radius: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 30px;
}

.divide-ver{
    width: 3px;
    height: 30px;
    margin: auto 0;
    background-color: #b497f3;
    border-radius:1px;
}

.divide-hor{
    width: 90%;
    height: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #b497f3;
    border-radius:1px;
}


.hl-info, .hl-counter, .hl-sum{
    width: 15%;
    margin: 10px 0;
}

.products{
    border: 3px dashed #b497f3;
    border-radius: 20px;
    padding: 30px 0;
}

.product{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}



.prod-info{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 5px solid rgb(229, 179, 179);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.prod-name{
    margin-top: 5px;
    margin-bottom: auto;
    font-weight: bold;
    color:rgb(150, 112, 112);
    text-align: center;
}

.prod-img{
    object-fit:contain;
    margin-top: 10px;
}

.prod-price{
    text-align: center;
    margin: 5px 0;
    line-height: 30px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    background-color: #9dd49d;
}



.prod-counter{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: flex-end;
    border: 5px solid rgb(229, 179, 179);
    border-radius: 15px;
}

.p-n-hl{
    font-weight: bold;
    color:rgb(150, 112, 112);
    text-align: center;
}

.prod-number{
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 0;
    border: 2px solid rgb(229, 179, 179);
    border-radius: 5px;
}

.counter-btn{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.btn-less{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9dc9d4;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.btn-more{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d49dbd;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.sum-cont{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 5px solid rgb(229, 179, 179);
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

.p-s-hl{
    font-weight: bold;
    color:rgb(150, 112, 112);
    text-align: center;
}

.prod-sum-cont{
    display: flex;
    text-align: center;
    margin: 5px auto;
    line-height: 30px;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    background-color: #9dd49d;
    width:fit-content ;
    padding-left: 30px;
    padding-right: 30px;
}

.prod-sum, .rub{
    text-align: center;
    line-height: 30px;
    margin: 0;
}

.rub{
    padding-left: 5px;
}



.sum{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid #b497f3;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 50px;
}

.hl-all-sum{
    
}

.all-sum-cont{
    display: flex;
    /* margin-left: auto; */
    height: 40px;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    background-color: #5da85d;
    width:fit-content ;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto 0;

}

.prods-sum{
    line-height: 40px;
    margin: 0;
    text-align: center;
}

.all-rub{
    line-height: 40px;
    margin: 0;
    margin-left: 5px;
    text-align: center;
}






/* .order{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px 35px;
    margin-bottom: 50px;
} */

.order-form{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px 35px;
}

.order-form p{
    font-weight: bold;
    line-height: 30px;
    padding: 0 10px;
    width:fit-content;
    font-size: 18px;
    color:#8255b6;
    margin-top: 40px;
    border: 2px solid #b497f3;
    border-radius: 20px;
}

fieldset{
    padding: 30px;
    border-radius: 20px;
    border:  3px dashed #b497f3;
}

input, textarea{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
}

.order-form span{
    background-color: #b497f3;
    margin-right: 10px;
    display: inline-block;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    width: 25px;
    height: 25px;
}

label{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
}

.finish{
    height: 50px;
    margin-top: 50px;
    padding: 0 15px;
    border: 5px solid #b497f3;
    border-radius: 20px;
    font: inherit;
    font-weight: bold;
    font-size: 18px;
    color:#8255b6;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.finish:hover{
    color:#ffffff;
    background-color:#b497f3;
}